@font-face{
    font-family: 'sansationbold';
    font-weight: normal;
    font-style: normal;

    src: url('style/fonts/sansation-bold-webfont.eot');
    src: url('style/fonts/sansation-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('style/fonts/sansation-bold-webfont.woff2') format('woff2'),
    url('style/fonts/sansation-bold-webfont.woff') format('woff'),
    url('style/fonts/sansation-bold-webfont.ttf') format('truetype');
}
@font-face{
    font-family: 'rockulica';
    font-weight: normal;
    font-style: normal;

    src: url('style/fonts/rockulica.eot');
    src: url('style/fonts/rockulica.eot?21964987#iefix') format('embedded-opentype'),
    url('style/fonts/rockulica.woff?21964987') format('woff'),
    url('style/fonts/rockulica.ttf?21964987') format('truetype'),
    url('style/fonts/rockulica.svg?21964987#rockulica') format('svg');
}
[class^='icon-']:before,[class*=' icon-']:before{
    font-family: 'rockulica';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1em;

    display: inline-block;

    width: 1em;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-mail:before{
    content: '\e800';
}
.icon-plus:before{
    content: '\e801';
}
.icon-link:before{
    content: '\e802';
}
.icon-down-open:before{
    content: '\e803';
}
.icon-left-open:before{
    content: '\e804';
}
.icon-right-open:before{
    content: '\e805';
}
.icon-up-open:before{
    content: '\e806';
}
.icon-facebook:before{
    content: '\e808';
}
.icon-gplus:before{
    content: '\e809';
}
.icon-twitter:before{
    content: '\e80a';
}
.icon-vkontakte:before{
    content: '\e80b';
}
.icon-clock:before{
    content: '\e80c';
}
.icon-location:before{
    content: '\e80d';
}
.icon-play:before{
    font-size: 60px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -30px 0 0 -25px;

    content: '\e807';

    color: #fff;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 400;

    overflow-y: scroll;

    height: 100%;

    color: #fff;
    background: #191919;
}
.backround-img{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 500px;
    height: auto;
    min-height: 100%;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    background: rgba(33, 33, 33, .8);
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'sansationbold';
}
a{
    text-decoration: none;

    color: #74c6de;
}
.clear:after{
    display: table;
    clear: both;

    content: '';
}
.btn{
    font-weight: bold;

    display: inline-block;

    padding: 10px 20px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    background-color: #74c6de;
}
.btn:hover{
    background-color: rgba(1,134,186,1);
    background-image:    -moz-linear-gradient(#0186ba, #04acec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0186ba), to(#04acec));
    background-image: -webkit-linear-gradient(#0186ba, #04acec);
    background-image:      -o-linear-gradient(#0186ba, #04acec);
    background-image:         linear-gradient(#0186ba, #04acec);
}
.bold{
    font-weight: bold;
}
.header{
    display: block;

    padding: 0 15px;

    background: rgba(17, 17, 17, .4);
}

.header-container{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
}
.logo{
    display: inline-block;

    min-width: 230px;
}
.menu{
    float: right;

    margin: 0;
    padding: 0;
}
.menu li{
    position: relative;

    display: inline-block;
}
.menu li a{
    font-size: 12px;

    display: block;

    padding: 8px 10px 31px 10px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}
.menu a:hover,.current-menu-item{
    color: #ccc;
}
.menu .icon-down-open{
    position: relative;

    padding-right: 25px;
}
.menu .icon-down-open:before{
    font-size: 8px;
    line-height: 16px;

    position: absolute;
    right: 10px;
}
.sub-menu{
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;

    display: none;

    margin: 0;
    padding: 0;

    border-top: 1px solid #74c6de;
}
.sub-menu li{
    display: list-item;

    width: 100%;
    margin: 0;

    list-style: none;

    border-bottom: 1px solid #000;
    background: #232323;
}
.sub-menu li:last-child{
    border: 0;
}
.sub-menu ul{
    top: 0;
    left: 100%;

    margin-left: 0;
}
.sub-menu li a{
    font-size: 13px;

    display: block;

    min-width: 183px;
    margin: 0;
    padding: 10px 0 10px 18px;

    text-transform: none;

    color: #fff;
    border: none;
    text-shadow: 1px 1px #000;
}
.menu li:hover > ul{
    display: block;
}
/*Slider*/
.slider-wrap{
    position: relative;
}
.slider-nav .owl-prev,.slider-nav .owl-next{
    font-size: 30px;

    position: absolute;
    z-index: 2;
    top: 50%;

    margin-top: -50px;

    background-color: rgba(0,0,0,.4);
}
.slider-nav .owl-prev{
    left: 0;

    padding: 30px 10px 30px 5px;

    border-radius: 0 5px 5px 0;
}
.slider-nav .owl-next{
    right: 0;

    padding: 30px 5px 30px 10px;

    border-radius: 5px 0 0 5px;
}
.slider-nav .owl-prev:hover,.slider-nav .owl-next:hover{
    background-color: rgba(0,0,0,.8);
}
.slider-dots{
    position: absolute;
    z-index: 2;
    right: 15px;
    bottom: 15px;
}
.slider-dots .owl-dot{
    position: relative;

    display: inline-block;

    width: 15px;
    height: 15px;
    margin: 0 5px;

    -webkit-transition: box-shadow .3s ease;

    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
}
.slider-dots .owl-dot.active,.slider-dots .owl-dot:hover{
    border: none;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 0 2px #fff;
}
.slider-dots .owl-dot span{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
    -webkit-transition: background-color .3s ease, -webkit-transform .3s ease;
            transition: background-color .3s ease, transform .3s ease;
    text-indent: -999em;

    border-radius: 50%;
    outline: none;
    background-color: rgba(255, 255, 255, .7);
    background-color: rgba(255, 255, 255, .3);
}
.slider-dots .owl-dot.active span,.slider-dots .owl-dot:hover > span{
    -webkit-transform: scale(.4);
            transform: scale(.4);

    background-color: #fff;
}
.slide-content{
    position: absolute;
    top: 10%;
    left: 5%;

    max-width: 300px;
    padding: 20px;

    border-radius: 5px;
    background: rgba(1, 1, 1, .7);
}
.inner-content{
    padding: 30px;
}
.page-header{
    position: relative;

    padding: 40px 30px 45px 30px;

    background: #fff url(img/page-title-background.jpg) no-repeat;
    background-position: center 0;
    background-position-y: -100px;
}
.poster{
    position: relative;
}
.group-logo{
    position: absolute;
    bottom: 4%;
    left: 2%;

    width: 25%;
}

/*События*/

.event{
    font-family: 'sansationbold';
    font-size: 0;

    position: relative;

    margin-bottom: 10px;
    padding: 5px;

    border-radius: 8px;
    background: rgba(0,0,0,.5);
}
.event .event-date{
    font-weight: bold;

    position: absolute;
    top: 5px;

    display: inline-block;

    width: 90px;
    padding-right: 10px;

    text-align: center;
}
.event-date-day{
    font-size: 25px;

    margin: 0;
    margin-bottom: 5px;
}
.event-date-time{
    font-size: 15px;

    margin: 0;
}
.event-info{
    display: inline-block;

    margin-left: 100px;
    padding-right: 20%;
}
.event-title{
    font-size: 25px;

    margin: 0;
    margin-bottom: 5px;
}
.event-subtitle{
    font-size: 15px;

    margin: 0;
    margin-bottom: 5px;
}
.event-location{
    font-size: 15px;
    font-weight: bold;

    margin: 0;
}
.event-link{
    position: absolute;
    right: 5px;

    display: inline-block;

    width: 20%;
    padding-left: 20px;
}
.event-link a{
    font-size: 16px;
    line-height: 20px;

    display: block;

    margin-bottom: 5px;
    padding: 5px 5px;

    text-align: center;

    color: #fff;
    border-radius: 3px;
    background: #74c6de;
}
.event-ticket-price{
    font-size: 15px;

    margin: 0;

    text-align: center;
}


.new-event{
    position: relative;

    text-align: center;

    background: rgba(0,0,0,.5);
}
.new-event .event-date{
    font-weight: bold;

    position: relative;
    z-index: 30;

    display: block;

    background-color: #94d64f;
    background-image:    -moz-linear-gradient(#0fff00, rgba(32, 95, 0, .65));
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0fff00), to(rgba(32, 95, 0, .65)));
    background-image: -webkit-linear-gradient(#0fff00, rgba(32, 95, 0, .65));
    background-image:      -o-linear-gradient(#0fff00, rgba(32, 95, 0, .65));
    background-image:         linear-gradient(#0fff00, rgba(32, 95, 0, .65));
}
.new-event .event-date-day{
    font-size: 16px;

    margin: 0;
    padding: 10px 20px;
}
.new-event .event-content{
    font-size: 16px;

    padding: 3px;
}
.new-event .event-title{
    font-size: 1em;

    overflow: hidden;

    margin: .3em 0;

       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}
.new-event .event-title a:hover{
    text-decoration: underline;
}
.new-event .event-content p{
    font-size: 14px;

    margin: .3em 0;
}
.new-event .ticket{
    display: block;
}

/*Видео*/

.video-item{
    font-size: 16px;

    display: inline-block;

    width: 30%;
    margin-right: 5%;
    margin-bottom: 40px;

    text-align: center;
    vertical-align: top;

    background: rgba(0, 0, 0, .7);
}
.box-hover{
    position: relative;
}
.video-hover{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(66, 185, 221, .7);
}
.video-hover span{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    display: block;

    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
}
.box-hover:hover .video-hover{
    display: block;
}
// .news-item{
//     font-size: 13px;

//     display: inline-block;

//     width: 48%;
//     min-height: 50px;
//     margin-right: 4%;
//     margin-bottom: 40px;
//     padding-bottom: 20px;
//     text-align: center;
//     vertical-align: top;

//     background: rgba(0, 0, 0, .7);
// }
// .news-item:nth-child(2n){
//     margin-right: 0;
// }
// .news-item-date{
//     text-align: center;
//     float: left;
//     margin:8px 10px 0 10px;
//     width: 65px;
//     padding-bottom: 20px;
//     border-bottom: 1px solid #74c6de;
// }
// .news-item-date-day{
//     font-size: 50px;
// }
// .news-item-date-month{
//     display: block;
//     font-size: 14px;
//     margin-bottom: 8px;
// }
// .news-item-date-year{
//     display: block;
//     font-size: 16px;
// }
// .news-item-content{
//      overflow: hidden;
//      text-align: left;
// }
// .news-item-content h2{
//     font-size: 27px;
// }
// .news-item-info a{
//     color:rgb(160, 160, 160);
// }
// .news-item-info a:hover{
//     text-decoration: underline;
// }
// .news-item-content p{
//     color:rgb(197, 197, 197);
// }
// .single{
//     margin-bottom:20px;
// }
// .single-logo{
//     float: left;
// }
// .single-info{
//     overflow: hidden;
//     padding-left:20px;
// }
// .single-info h3{
//     margin: 0;
// }
// .single-info p{
//     color:rgb(197, 197, 197);
// }
// .single-info p span{
//     color:#fff;
//     font-weight: bold;
// }
// .tabs{
//     padding: 0;
//     margin:0;
//     position: relative;
//      width: 100%;
//      display: table;
// }
// .tabs li{
//     display: table-cell;

//     vertical-align: middle;
//     width: 20%;
//     font-size: 16px;
//     text-align: center;
//     padding: 10px 5px;
//     background: #383838;;
//     border:1px solid #636363;

//     font-weight: bold;
// }
// .tabs li a{
//    display: block;
//    color:#fff;
// }
// .tabs .active{
//     background: #444444;
//     border:1px solid #636363;
//     border-bottom-width: 0;
//     padding-bottom: 12px;
// }
// .tabs .no-active{
//     opacity: 0.5;
// }
// .tab_container{
//     background: #444444;
//     margin:-1px -30px 0 -30px;
//     padding: 30px;
//     border:1px solid #636363;
// }
// .video{
//     font-size: 0;
// }
/*Подвал сайта*/
.footer{
    padding: 30px;

    border-top: 1px solid #74c6de;
    background-color: #111;
}
.footer-social{
    float: left;

    padding: 0 50px;

    text-align: center;
}
.footer-social a,.group-social a{
    font-size: 0;

    display: inline-block;

    padding: 10px;

    background-color: rgba(1,134,186);
    background-image:    -moz-linear-gradient(#04acec, #0186ba);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background-image: -webkit-linear-gradient(#04acec, #0186ba);
    background-image:      -o-linear-gradient(#04acec, #0186ba);
    background-image:         linear-gradient(#04acec, #0186ba);
}

.footer-social a:hover,.group-social a:hover{
    opacity: .5;
    background-color: rgba(1,134,186);
    background-image:    -moz-linear-gradient(#0186ba, #04acec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0186ba), to(#04acec));
    background-image: -webkit-linear-gradient(#0186ba, #04acec);
    background-image:      -o-linear-gradient(#0186ba, #04acec);
    background-image:         linear-gradient(#0186ba, #04acec);
}
.footer-social a::before,.group-social a::before{
    font-size: 20px;

    color: #212121;
}
.footer-contacts{
    float: right;

    padding: 0 50px;

    color: #fff;
}

.icon-mail{
    position: relative;

    padding-left: 20px;
}
// @media screen and (max-width:1199px)  {
//     .container{
//         width: 900px;
//     }
//     .news-item{
//         width: 100%;
//     }
//     .event-info{
//         width: 500px;
//     }
// }
// @media screen and (max-width:899px)  {
//     .container{
//         width: 768px;
//     }
// }
// @media screen and (max-width:767px)  {
//     .container{
//         width: 640px;
//     }
// }
// @media screen  and (max-width:639px)  {
//     .container{
//         width: 480px;
//     }
//     .inner-content{
//         padding: 20px;
//     }
//     .single-logo{
//         width: 100%;
//         padding-bottom: 20px;
//     }
//     .single-logo img{
//         width: 100%;
//     }
//     .tab_container {
//         margin: -1px -20px 0 -20px;
//     }

// }
// @media screen and (max-width:479px)  {
//     .container{
//         width: 100%;
//         min-width: 320px;
//     }
// }

.list-item{
    font-size: 0;
}
.list-item::after{
    display: inline-block;
    visibility: hidden;
    overflow: hidden;

    width: 100%;
    height: 0;

    content: '';
}
.item_4,.item_3{
    display: inline-block;

    margin-bottom: 5%;

    vertical-align: top;
}
@media screen and (min-width:1000px){
    .item_4{
        width: 22%;
    }
    .item_4:nth-of-type(n){
        margin-right: 4%;
    }
    .item_4:nth-of-type(4n){
        margin-right: 0;
    }
    .item_3{
        width: 30%;
    }
    .item_3:nth-of-type(n){
        margin-right: 5%;
    }
    .item_3:nth-of-type(3n){
        margin-right: 0;
    }
}
@media screen and (min-width:601px) and (max-width:1000px){
    .item_4{
        width: 30%;
    }
    .item_4:nth-of-type(n){
        margin-right: 5%;
    }
    .item_4:nth-of-type(3n){
        margin-right: 0;
    }
    .item_3{
        width: 45%;
    }
    .item_3:nth-of-type(n){
        margin-right: 10%;
    }
    .item_3:nth-of-type(2n){
        margin-right: 0;
    }
}
@media screen and (min-width:401px) and (max-width:600px){
    .item_4{
        width: 45%;
    }
    .item_4:nth-of-type(n){
        margin-right: 10%;
    }
    .item_4:nth-of-type(2n){
        margin-right: 0;
    }
    .item_3{
        width: 100%;
    }
    .slider-wrap{
        display:none;
    }
}
@media screen and (min-width:0) and (max-width:400px){
    .item_4{
        width: 100%;
    }
    .item_3{
        width: 100%;
    }
    .slider-wrap{
        display:none;
    }
}
