@font-face{
    font-family: 'sansationbold';
    font-weight: normal;
    font-style: normal;

    src: url('style/fonts/sansation-bold-webfont.eot');
    src: url('style/fonts/sansation-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('style/fonts/sansation-bold-webfont.woff2') format('woff2'),
    url('style/fonts/sansation-bold-webfont.woff') format('woff'),
    url('style/fonts/sansation-bold-webfont.ttf') format('truetype');
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 400;

    overflow-y: scroll;

    height: 100%;

    color: #fff;
    background: #191919;
}
.backround-img{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 500px;
    height: auto;
    min-height: 100%;
}
.container{
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto;

    background: rgba(33, 33, 33, .8);;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'sansationbold';
}
.box-hover{
    position: relative;

    display: inline-block;
}
.box-hover h3{
    line-height: 1.5em;

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 100%;
    margin: 0;

    text-align: center;

    background: rgba(0, 0, 0, .8);
}

.box-hover a{
    position: absolute;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 100%;
}
.box-hover a:hover{
    background: rgba(66, 185, 221, 0.8);;
}
.box-hover span{
    display: none;
}
.box-hover a:hover span{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    display: block;

    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
}
.box-hover-video::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-25px 0 0 -8px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-left:35px solid #fff;

}
