.select2-search--inline,
.select2-selection__choice{
    margin-bottom: 0;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple{
    border: 1px solid #ccc;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 26px;
}

#toplevel_page_theme_settings .wp-menu-image img{
    position: relative;
    top: -2px;
}

div.piklist-tooltip:after{
    font-family: arial;
    font-size: 11px;
    background: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border: none;
    max-width: 200px;
    min-width: 180px;
    top: -8px;
}
div.piklist-tooltip.dashicons{
    text-align: left;
}
div.piklist-tooltip:before{
    color: #666;
    font-size: 16px;
    vertical-align: top;
}
div.piklist-field-part .attachment{
    width: 15%;
}
div.piklist-label-container{
    padding-bottom: 0;
}
div.piklist-field{
    padding-bottom: 0;
}


.postbox .inside > .box-wrapper{
    margin: -9px -12px -12px -12px;
}


.box-wrapper .toolbar{
    padding: 9px 12px;
}

.box-wrapper .toolbar .expand-close{
    float: right;
    line-height: 28px;
}

.box-wrapper .toolbar .expand-close a{
    text-decoration: none;
    font-size: 12px;
    font-style: italic;
}

.box-list{
    counter-reset: li;
}

.box{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: -1px;
}

.box-inside{
    border-top: 1px solid #eee;
}

.box h3{
    position: relative;
    margin: 0!important;
    padding: 1em 1em 1em 1em !important;
    font-size: 1em!important;
    overflow: hidden;
    zoom: 1;
}

.box h3:before{
    content: "#" counter(li);
    counter-increment: li;
    opacity: 0.5;
    font-weight: bold;
    padding-right: .5em;
}

.box h3 a.delete{
    color: red;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    position: relative;
    visibility: hidden;
    float: right;
    outline: none;
}
.box h3 .handlediv{
    height: 18px;
    width: 18px;
    visibility: hidden;
}
.box h3:hover a.delete,
.box h3:focus a.delete,
.box h3:hover .handlediv,
.box h3:focus .handlediv{
    visibility: visible;
}

.box h3 .handlediv:before{
    content: "\f142" !important;
    cursor: pointer;
    display: inline-block;
    font: 400 20px/1 Dashicons;
    line-height: .5 !important;
    padding: 4px 10px;
    position: relative;
    right: 16px;
    top: 0;
}

.box.closed h3 .handlediv:before{
    content: "\f140" !important;
}
.box .form-field{
    padding: 5px 12px;
}
.box .form-field:after{
    content: "";
    display: table;
    clear: both;
}
.box .form-field label{
    width: 150px;
    float: left;
    line-height: 24px;
    font-size: 12px;
}
.box .form-field input,
.box .form-field select,
.box .form-field textarea,
.box .form-field .select-container{
    margin: 0;
    width: 50%;
    float: left;
}
.box .draghandle{
    display: inline-block;
    margin-right: 6px;
    opacity: 0.5;
    cursor: move;
    line-height: 10px;
}
.box .draghandle i{
    position: relative;
    top: 6px;
}
.box [class*="dashicons-"] {
    font-family: dashicons;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.select-theme h4{
    margin: 0;
    padding: 12px;
}
.select-theme select{
    width: 100%;
}
.select-theme .select2-selection{
    border-width: 0 !important;
}
.select-theme .select2-selection__rendered{
    padding: 0 !important;
    counter-reset: li;
    border-top: 1px solid #eee !important;
}
.select-theme .select2-selection__choice{
    float: none !important;
    display: block !important;
    border-width: 0 !important;
    border-bottom: 1px solid #eee !important;
    border-radius: 0 !important;
    background-color: #fff !important;
    padding: 12px 12px !important;
    margin: 0 !important;;
    font-weight: 600;
    position: relative;
}
.select-theme .select2-selection__choice:before{
    content: "#" counter(li);
    counter-increment: li;
    opacity: 0.5;
    font-weight: normal;
    font-size: 12px;
    padding-right: .5em;
    margin-right: 30px;
}
.select-theme .select2-selection__choice:after{
    font-family: dashicons;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    content: "\f333";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: move;
    position: absolute;
    left: 35px;
    top: 12px;
    opacity: .5;
    line-height: 20px;
    width: 20px;
    height: 20px;
}
.select-theme .select2-selection__choice__remove{
    float: right;
    font-size: 16px;
    line-height: 16px;
    color: #ccc !important;
}
.select-theme .select2-search--inline{
    width: 100%;
}
.select-theme .select2-search__field{
    width: 100% !important;
    padding: 6px 12px !important;
}
.select2-dropdown{
    border-color: rgba(0,0,0,0.1);
    z-index: 999999;
}
#poststuff .inside > .select-theme{
    margin: -9px -12px -12px -12px;
}
